cffi==1.14.5
cryptography==3.4.7
Django==2.2.13
django-appconf==1.0.4
django-crispy-forms==1.8.0
django-cryptography==1.0
django-summernote==0.8.11.4
django-taggit==1.1.0
html5lib==1.0.1
Markdown==3.1.1
markdown-checklist==0.4.1
pillow==8.2.0
pycparser==2.20
Pygments==2.5.2
PyPDF2==1.26.0
python-decouple==3.2
pytz==2019.3
reportlab==3.5.67
six==1.13.0
sqlparse==0.3.0
Unidecode==1.1.1
webencodings==0.5.1
xhtml2pdf==0.2.3