{% extends 'registration_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Notekeeper {% endblock %}
<!-- {% load humanize %} -->
{% block content %}
<div class="container-fluid" style="margin-top: 20px; margin-bottom: 50px;">
    <div class="row text-center">
        <div class="col">
            <h1>Funcionalidades</h1>
            <hr style="width: 100px; border: 0.5px solid; margin-bottom: 50px;">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-sticky-note" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Salvar</h4>
            <p>
                Salvar notas. E isso é tudo o que queremos. Mantendo a simplicidade, o notekeeper possui todas as ferramentas (apenas as necessárias) de que você precisa em um só lugar.
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-lock" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Criptografada</h4>
            <p>
                Levamos a segurança muito a sério. Todas as suas notas são criptografadas.
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-share-square" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Compartilhar</h4>
            <p>
                Compartilhe suas anotações sem complicações sem compartilhar credenciais de login.
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-copy" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Copiar</h4>
            <p>
                Copiar texto de suas anotações é muito fácil. Basta selecionar o texto e ele será copiado para a sua área de transferência.
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-edit" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Editar</h4>
            <p>
                Notekeeper suporta remarcação. Não se preocupe se você não conhece o markdown, nós adicionamos uma barra de ferramentas física também.
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fab fa-searchengin" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Pesquisar</h4>
            <p>
                Pesquise notas rapidamente usando seus títulos de nota ou tags de nota.
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-sort" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Ordenar</h4>
            <p>
                Classificar notas com base em data e hora ou títulos de notas (crescente ou decrescente).
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-thumbtack" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Acesso Rápido</h4>
            <p>
                Acesso mais rápido às notas modificadas recentemente em sua barra lateral.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid bg-light" style="margin-top: 20px;">
    <div class="row text-center">
        <div class="col" style="margin-top: 20px;">
            <h1>Contribuir</h1>
            <hr style="width: 100px; border: 0.5px solid; margin-bottom: 50px;">
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <p>
                Você também pode contribuir com o desenvolvimento do notekeeper aqui: <a href="https://github.com/Marceloromeugoncalves/django-notekeeper-1" target="_blank">https://github.com/Marceloromeugoncalves/django-notekeeper-1</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
